Final project/MovieAppSolution/VideoCheckingWPF/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/VideoLibDAL" />
  <xs:element name="allMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="allMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VideoLibDAL" minOccurs="0" name="allMoviesResult" nillable="true" type="q1:ArrayOfMovieDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="moviesRended">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="moviesRendedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VideoLibDAL" minOccurs="0" name="moviesRendedResult" nillable="true" type="q2:ArrayOfMovieDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="moviesExpired">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="moviesExpiredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VideoLibDAL" minOccurs="0" name="moviesExpiredResult" nillable="true" type="q3:ArrayOfMovieDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="movieRended">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="movieRendedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieRendedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="movieAbsoluteFree">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="movieAbsoluteFreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VideoLibDAL" minOccurs="0" name="movieAbsoluteFreeResult" nillable="true" type="q4:ArrayOfMovieDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="movieExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="movieExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="allOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VideoLibDAL" minOccurs="0" name="allOrdersResult" nillable="true" type="q5:ArrayOfOrderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="m" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="u" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dt" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ordersByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ordersByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VideoLibDAL" minOccurs="0" name="ordersByUserResult" nillable="true" type="q6:ArrayOfOrderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="allUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VideoLibDAL" minOccurs="0" name="allUsersResult" nillable="true" type="q7:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>